[Unit]
Description=Global service for registering docker containers in etcd
Requires=docker.service
After=docker.service
Requires=etcd.service
After=etcd.service

[Service]
User=core
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/usr/bin/docker kill docker-etcd-bridge
ExecStartPre=-/usr/bin/docker rm docker-etcd-bridge
ExecStartPre=/usr/bin/docker pull andersjanmyr/docker-etcd-bridge
ExecStart=/usr/bin/sh -c \
'/usr/bin/docker run \
--restart=always \
--name docker-etcd-bridge \
--env DOCKER_HOST=%H \
-v /var/run/docker.sock:/var/run/docker.sock \
andersjanmyr/docker-etcd-bridge'
ExecStop=-/usr/bin/docker stop docker-etcd-bridge

[X-Fleet]
Global=true

